{{- $section := .Section -}}

<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl divide-y px-8 py-16 lg:px-16">
    <dl class="space-y-8">      
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">

        {{ range $index, $item := .Pages.ByDate.Reverse -}}
          {{- $notHidden := ne (.Params.hidden | default false) true -}}        
          {{- if $notHidden -}}
          
            {{ if gt $index 0 -}}
              <dt class="border-t border-gray-300 lg:col-span-12 mt-8 pb-8 lg:mt-0 lg:pb-0"></dt>
            {{- end }}

            {{ partial (printf "components/resources/%s" $section) (dict "title" (.Param "title") "description" (.Param "description") "item" $item) -}}

          {{- end }}        
        {{- end }}
      
      </div>  
    </dl>
  </div>
</div>
