{{- $bannerAds := .Site.Data.bannerAds -}}
{{- $bg_color := .Site.Data.styling.banner_ads_bg_color -}}

{{- if and $bannerAds $bannerAds.active }}
<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg--100 py-2.5 px-6 sm:px-3.5 sm:before:flex-1 {{  $bg_color }}">
  <div class="flex flex-auto items-center gap-y-2 gap-x-4">
    <p class="text-sm leading-6 text-gray-900">
      <strong class="font-semibold">{{ $bannerAds.title }}</strong>
      <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
      {{ $bannerAds.description }}
    </p>
    <a href="{{ $bannerAds.buttonLink }}" class="flex-none rounded-full bg-gray-900 py-1 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
      {{ $bannerAds.buttonLabel}} <span aria-hidden="true">&rarr;</span>
    </a>
  </div>
</div>
{{- end }}