{{ define "main" }}
{{- $styling := .ctx.Site.Data.styling }}
{{- $pages := .ctx.Site.Data.pages.clickstream }}
{{- $sections := .ctx.Param "sections" }}
{{- $reCAPTCHA_key := .env.reCAPTCHA_key -}}

<main class="min-h-screen">
  {{ partial (printf "components/%s.html" (.ctx.Param "hero.component")) .ctx -}}
  {{ range $sections }}
    {{- $page := index $pages . -}}
    {{- if $page.section }}
      {{- $path := (printf "sections/%s.html" $page.section) -}}
      {{- partial $path (dict "content" $page.content "styling" $styling "reCAPTCHA_key" $reCAPTCHA_key) }}
    {{- end }}
  {{ end }}
</main>
{{- end }}