{{- $title := .content.title | default "" -}}
{{- $description := .content.description | default "" -}}
{{- $button := .content.button -}}
<div class="relative isolate overflow-hidden bg-gray-900">
  <div class="px-6 py-28 sm:px-6 sm:py-38 lg:px-8">
    <div class="px-3 mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold tracking-wide text-white sm:text-4xl">
       {{ $title }}
      </h2>
      <div class="mt-12 max-w-3xl text-left text-lg leading-8 text-gray-300">
        {{ $description | markdownify }}
      </div>
      <div class="mt-20 flex items-center justify-center gap-x-6">
        <a href="{{ $button.ref }}" class="uppercase rounded-md bg-white px-10 py-2.5 font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
          {{ $button.label }}
        </a>
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
    <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
    <defs>
      <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
        <stop stop-color="#7775D6" />
        <stop offset="1" stop-color="#E935C1" />
      </radialGradient>
    </defs>
  </svg>
</div>