{{- $title := .title -}}
{{- $description := .description -}}
{{- $time := .item.Param "time" | default "8:00 AM PDT" -}}
{{- $date := .item.Param "date" -}}
{{- $link := .item.Param "slug" -}}

<dt class="text-base lg:col-span-3">
  <div class="text-av leading-7 text-gray-700">
    {{ time.Format "January 2, 2006" $date | upper}}
  </div>
  <div class="text-xs text-gray-400 leading-5">
    {{ $time | upper }}
  </div>
</dt>

<dd class="lg:col-span-9 mt-4 lg:mt-0">
  <a href="{{ $link }}" class="text-lg leading-7 text-magenta-400 hover:underline decoration-1 underline-offset-2">
    {{- $title -}}
  </a>
  <p class="mt-1 text-base tracking-wide leading-7 text-gray-500">
    {{- $description -}}
    <span class="text-magenta-400 hover:underline decoration-1 underline-offset-2">
      <a href="{{ $link }}">Click here to register.</a>
    </span>
    </p>
</dd>